---
- name: Config centralRouter
  hosts: all
  become: true

  tasks:
    - name: Install packages
      ansible.builtin.apt:
        name:
          - vim
          - traceroute
          - nmap
          - net-tools
        state: present
        update_cache: true

    - name: Set up forward packages across routers
      ansible.builtin.sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        state: present
        reload: yes

    - name: Make routes persistent
      ansible.builtin.copy:
        content: |
          post-up ip route replace default via 192.168.255.1 dev eth1
          post-up ip route add 192.168.2.128/26 via 192.168.255.10 dev eth5 2>/dev/null || true
          post-up ip route add 192.168.1.0/25 via 192.168.255.6 dev eth6 2>/dev/null || true
        dest: /etc/network/interfaces.d/60-static-routes
        owner: root
        group: root
        mode: "0644"

    - name: Create .ssh directory
      ansible.builtin.file:
        path: /home/vagrant/.ssh
        state: directory
        mode: "0700"
        owner: vagrant
        group: vagrant

    - name: Copy ssh keys
      ansible.builtin.copy:
        src: ssh/
        dest: /home/vagrant/.ssh/
        mode: "0600"
        owner: vagrant
        group: vagrant

    - name: Add knock script
      ansible.builtin.copy:
        src: files/knock.sh
        dest: /home/vagrant/knock.sh
        mode: "0755"
        owner: vagrant
        group: vagrant
