---
- name: Config inetRouter
  hosts: all
  become: true

  tasks:
    - name: Install packages
      ansible.builtin.apt:
        name:
          - vim
          - traceroute
          - iptables-persistent
          - netfilter-persistent
          - knockd
          - net-tools
        state: present
        update_cache: true

    - name: Copy iptables config
      ansible.builtin.copy:
        src: files/iptables-inetRouter.rules
        dest: /etc/iptables/rules.v4
        owner: root
        group: root
        mode: "0600"

    - name: Apply iptables rules
      ansible.builtin.shell:
        cmd: iptables-restore < /etc/iptables/rules.v4

    - name: Enable iptables persistence
      ansible.builtin.systemd:
        name: netfilter-persistent
        state: started
        enabled: true

    - name: Set up forward packages across routers
      ansible.builtin.sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        state: present
        reload: yes

    - name: Add static routes
      ansible.builtin.shell:
        cmd: ip route add 192.168.0.0/22 via 192.168.255.2 dev eth1

    - name: Add static route 2
      ansible.builtin.shell:
        cmd: ip route add 192.168.255.4/30 via 192.168.255.2 dev eth1

    - name: Add static route 3
      ansible.builtin.shell:
        cmd: ip route add 192.168.255.8/30 via 192.168.255.2 dev eth1

    - name: Make static routes persistent
      ansible.builtin.copy:
        content: |
          post-up ip route add 192.168.0.0/22 via 192.168.255.2 dev eth1
          post-up ip route add 192.168.255.4/30 via 192.168.255.2 dev eth1
          post-up ip route add 192.168.255.8/30 via 192.168.255.2 dev eth1
        dest: /etc/network/interfaces.d/60-static-routes
        owner: root
        group: root
        mode: "0644"

    - name: Create .ssh directory
      ansible.builtin.file:
        path: /home/vagrant/.ssh
        state: directory
        mode: "0700"
        owner: vagrant
        group: vagrant

    - name: Copy authorized_keys file
      ansible.builtin.file:
        path: /home/vagrant/.ssh/authorized_keys
        state: touch
        mode: "0600"
        owner: vagrant
        group: vagrant

    - name: Add authorized key
      ansible.builtin.lineinfile:
        path: /home/vagrant/.ssh/authorized_keys
        line: "{{ lookup('file', 'files/ssh/id_rsa.pub') }}"
        create: true

    - name: Copy knockd config
      ansible.builtin.copy:
        src: files/knockd.conf
        dest: /etc/knockd.conf
        mode: "0644"
        owner: root
        group: root

    - name: Enable knockd to start on interface eth1
      ansible.builtin.lineinfile:
        path: /etc/default/knockd
        regexp: '^START_KNOCKD='
        line: 'START_KNOCKD=1'
        create: yes

    - name: Configure knockd interface in defaults
      ansible.builtin.lineinfile:
        path: /etc/default/knockd
        regexp: '^KNOCKD_OPTS='
        line: 'KNOCKD_OPTS="-i eth1"'
        create: yes

    - name: Start and enable knockd service
      ansible.builtin.systemd:
        name: knockd
        state: restarted
        enabled: true
